@{
    ViewBag.Title = "Accueil - Texcel";
}

<div class="jumbotron">
    <h1>TEXCEL</h1>
    <p class="lead">Bienvenue dans l'outil de gestion de Texcel.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Jeux</h2>
        <p>
                Ajouter, gérer ou supprimer un jeu de Texcel.
        </p>
        @Html.ActionLink("Accéder", "Index", "Jeux", new { @class = "whiteBtn btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Systèmes d'exploitation</h2>
        <p>Ajouter, gérer ou supprimer un système d'exploitation.</p>
        @Html.ActionLink("Accéder", "Index", "SystemeExploitations", new { @class = "whiteBtn btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Plateformes</h2>
        <p>Ajouter, gérer ou supprimer une plateforme.</p>
        @Html.ActionLink("Accéder", "Index", "Platformes", new { @class= "whiteBtn btn btn-default"})
    </div>
</div>