@model TexcelASP.Models.Developpeur

@{
    ViewBag.Title = "Détails - Developpeurs";
}

<h2>Détails</h2>

<div>
    <h4>Developpeur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }, new { @class = "btn whiteBtn" }) |
    @Html.ActionLink("Retour", "Index", null, new { @class = "btn whiteBtn" })
</p>
