@model TexcelASP.Models.Theme

@{
    ViewBag.Title = "Supprimer - Themes";
}

<h2>Suppression</h2>

<h3>Êtes-vous certain de vouloir supprimer ceci?</h3>
<div>
    <h4>Thème</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="whiteBtn btn btn-default" /> |
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn whiteBtn" })
        </div>
    }
</div>
