@using Microsoft.AspNet.Identity
@if (Session["matricule"] != null)
{
    using (Html.BeginForm("logOff", "Authentification", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Bonjour " + Session["prenom"] + " " + Session["nom"] + " - " + Session["categorieEmploi"], "Index", null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Se connecter", "Login", "Authentification", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
